.Contents
  .Container
    %h3 イベント追加
    = form_with(model: @event, local: true) do |f|
      = f.text_field :title, placeholder: "タイトル"
      = f.text_area :body, placeholder: "メモ", rows: "5"
      = f.datetime_select :start
      = f.datetime_select :end
      = f.collection_check_boxes :customer_ids, Customer.where(user_id: current_user.id), :id, :name
      = f.submit "追加"
