.Contents
  .Container
    %h3 イベント追加
    = form_with(model: @event, local: true) do |form|
      = form.text_field :name, placeholder: "タイトル"
      = form.text_field :image, placeholder: "Image Url"
      = form.text_area :text, placeholder: "メモ", rows: "5"
      = form.submit "追加"
