.Show
  .Show__main
    .Show__title  
      イベント詳細ページ
    .Table
      .Table__left
        タイトル 
      .Table__right
        = @event.title
    .Table
      .Table__left
        顧客名 
      .Table__right
        - @event.customer_events.each do |event|
          =event.customer.name 
    .Table    
      .Table__left
        開始日時
      .Table__right
        = @event.start_time.strftime("%Y年%m月%d日%H:%M")
    .Table    
      .Table__left
        終了日時
      .Table__right
        = @event.end_time.strftime("%Y年%m月%d日%H:%M")
    .Table    
      .Table__left
        メモ
      .Table__right
        = @event.body  
  .Show__btn
    .Show__btn__items
      .Edit-btn
        %span.Edit-btn__text 編集する
        = link_to edit_event_path do
          = icon 'fas', 'fas fa-cog fa-3x', class: 'Edit-btn__icon'
    .Show__btn__items
      .Delete-btn
        %span.Delete-btn__text 削除する
        = link_to event_path,method: :delete,data: {confirm: '本当に削除しますか？'} do
          = icon 'fas' , 'fas fa-trash-alt fa-3x', class: 'Delete-btn__icon'
    .Show__btn__items      
  .Link-top
    = link_to root_path(current_user), class: "Link-top__btn" do
      トップページに戻る