.Show  
  .Show__main
    .Show__title  
      顧客詳細ページ
    .Table
      .Table__left
        名前 
      .Table__right
        = @customer.name
    .Table
      .Table__left
        顧客コード 
      .Table__right
        = @customer.code
    .Table
      .Table__left
        現住所 
      .Table__right    
        = @customer.current_address
    .Table
      .Table__left
        建築地 
      .Table__right    
        = @customer.building_site
    .Table
      .Table__left
        電話番号 
      .Table__right 
        = @customer.phone
    .Recode
      .Recode__left
        メモ 
      .Recode__right 
        = @customer.body
    .Recode    
      .Recode__left
        活動記録 
      .Recode__right 
        - @customer.customer_events.each do |customer|
          .event-time
            = customer.event.start_time.strftime("%Y年%m月%d日")
            = customer.event.title


  .Show__btn
    .Show__btn__items
      .Edit-btn
        %span.Edit-btn__text 編集する
        = link_to edit_customer_path do
          = icon 'fas', 'fas fa-cog fa-3x', class: 'Edit-btn__icon'
    .Show__btn__items
      .Delete-btn
        %span.Delete-btn__text 削除する
        = link_to customer_path,method: :delete,data: {confirm: '本当に削除しますか？'} do
          = icon 'fas' , 'fas fa-trash-alt fa-3x', class: 'Delete-btn__icon'
  .Link-top
    = link_to root_path(current_user), class: "Link-top__btn" do
      トップページに戻る